nav{
    position: float;
    float: left;
    width: 100%;
    font-weight:bold ;
    background-color: #f49e4c;
}
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: block;
}
li{
    float: left;
   font-size: 20px;
}
li a{
    text-decoration: none;
    color: #001a4d;
    display: inline-block;
    margin: 14px 16px;

}
li:hover{
    background-color: #80b3ff;
    color: #f49e4c;
}
body{
    background-color: #f5ee9e;
    padding: 0;
    margin: 0;
}
div{
    float: left;
    height: 600px;
    width: 45%;
    background-color: #e6f2ff;
    margin: 10px;
    padding: 10px;
    font-family: Arial;
    font-size: 14px;
}